<h3>You are not logged in!</h3>
<p>You should be logged in our system to be able to take books ans to view your own book history.</p>
<p>
    You can sign in clicking on @Html.ActionLink("this link","SignIn") or at the top left corner of the page.
</p>
<p>
    If you are not our reader, you can @Html.ActionLink("sign up", "SignIn")  by entering your e - mail and name.
</p>
<p>
    We need your e-mail to send important notifications.
</p>
<p>
    Also, you need to enter your name. That means you can have one e-mail and different names. That's great feature for family accounts.
</p>
<p>
    After registration you are authomatically logged in and allowed to take any book you like (if it is in stock, of course).
</p>
<p>But even if you are not logged in, you can view list of books and sort them by title and author. Just check the field you need and click "Apply filters".</p>

