<h2> Hello, reader!</h2>
<p>You are successfully logged in and allowed to take any book you like (if it is in stock, of course) and sort them by title and author. Just check the field you need and click "Apply filters". To take a book simply open @Html.ActionLink("main page","Index") and
    click the link "Take a book" for the book you want to take.</p>
 
<p>After taking a book we'll send you a notification on your e-mail.</p>
<p>
    Also you can check your @Html.ActionLink("book history", "MyBooks", "User") to see what book and when you have taken.
</p>
