<h3>Administrator rights:</h3>
<li><b>Viewing books list.</b> That's easy. You just open the @Html.ActionLink("main page", "Index") and view any book you like and sort them by title and author. Just check the field you need and click "Apply filters".</li>
<li><b>Adding a new book.</b> At the top of the page you can see @Html.ActionLink("add new book","Create","Admin") link. By clicking you'll be allowed to add a new book to library. After entering information just click "Add Book".</li>
<p>(<i>Following three actions are available in every row representing book at the maain page</i>)</p>
<li><b>Changing quantity of the book.</b> Choose the book and subtract or add the number of available books.</li>
<li><b>Viewing book history.</b> Click and view book history: date when it was taken and by whom.</li>
<li><b>Erasing the book.</b> You can delete a book by clicking on "Delete" link. Don't worry, if you've done this accidentally. This just will redirect you to the confirmation page</li><br />
<li><b>View readers list.</b>You can access it by clicking @Html.ActionLink("readers management","ReadersInfo","Admin") at the top of the page. You can view e-mail/name list and...</li>
<li><b>Viewing readers books list.</b> You can access this by clicking "View reader activity" in readers list</li>