@model IEnumerable<LibraryApplication.Models.Reader>

@{
    ViewBag.Title = "ReadersInfo";
}

<h2>ReadersInfo</h2>

<p>
    @Html.ActionLink("Go to Books", "Index", "Home");
</p>
<table class="table">
    <tr>
        <th>
            Reader Name
        </th>
        <th>
            E-mail
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMail)
        </td>
        <td>
            @Html.ActionLink("View Reader Activity", "ReaderHistory", new { id=item.ID })
        </td>
    </tr>
}

</table>
